<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="mainlogo">
    <h1>名詞辞書</h1>
  </div>
  <div class="search-bar">
    <form action="/table" method="post" id="form">
      <input type="text" name="wordItem" id='searchvar'>
      <input type="submit" id = "submit" value="検索">
      <div id = "message">
        <p id = "attention1"></p>
        <p id = "attention2"></p>
        <a id = "request"></a>
      </div>
      <dl id="wrap">
      </dl>
    </form>
  </div>
  <script>
  if(document.getElementById('searchvar').value === "" || document.getElementById('searchvar').value === null){
    document.getElementById("form").onkeypress = (e) => {
      const key = e.keyCode || e.charCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  }
  </script>
  <script>
      $('#searchvar').keyup(function() {  //検索バーでキーが離されたら処理
        $.ajax({
            url: '/search',
            type:'POST',
            dataType: 'json',
            data : {wordItem: $('#searchvar').val() },
            timeout:3000,
        }).done(function(data) {
          let rs = data.message;  //dataにmessageを結合
          if(data.message.length < 1){                    //候補がなかった場合
            $('#attention1').replaceWith('<p id = "a1">見つかりませんでした</p>');  //以下メッセージを表示
            $('#attention2').replaceWith('<p id = "a2">データ拡充にご協力ください</p>');
            $('#request').replaceWith('<a href="/request" id = "a3">＋単語リクエスト</a>');  //「リクエスト」へのリンク
          } else {
            for(var i in rs){
              var h = '<dt class = "submit">'
                + rs[i].headword
                + '</dt>'
                + '<dd class = "submit">'
                + rs[i].japanese
                + '</dd>';
              $("dl#wrap").append(h);
              $('.search-contents').hide();
              if(document.getElementById('searchvar').value === "" || document.getElementById('searchvar').value === null){
                $('dl#wrap').empty();  //検索バーが空の時、候補の中身を空にする
              }
            }
          }
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                         alert("error");
        });
        $('dl#wrap').empty();
        $('#a1').replaceWith('<p id = "attention1"></p>'); //デフォルト状態に戻す
        $('#a2').replaceWith('<p id = "attention2"></p>');
        $('#a3').replaceWith('<a id = "request"></a>');
      });
    </script>
  <div class="search-contents">
    <div class="word-info">
      <% rsWordlist.forEach(function (item) { %>
      <table border="1" width=auto>
        <tr>
          　　 <th>見出し語</th>
          <td><%= item.headword %></td>
          　　
        </tr>
        　　 <tr>
          　　 <th>日本語訳</th>
          　　 <td><%= item.japanese %></td>
          　　 </tr>
        　　 <tr>
          　　 <th>名詞性</th>
          　　 <td><%= item.gender %></td>
          　　 </tr>
        　　
      </table>
      <% }) %>
    </div>
    <div class="word-table">
      <% rsWordlist.forEach(function (word) { %>
       <table class="tables" border="1">
         <tr>
           <th>主格</th>
           <td><%= word.mia %></td>
         </tr>
         <tr>
           <th>生格</th>
           <td><%= word.dop %></td>
         </tr>
         <tr>
           <th>与格</th>
           <td><%= word.cel %></td>
         </tr>
         <tr>
           <th>対格</th>
           <td><%= word.bie %></td>
         </tr>
         <tr>
           <th>造格</th>
           <td><%= word.narz %></td>
         </tr>
         <tr>
           <th>前置格</th>
           <td><%= word.mie %></td>
         </tr>
         <tr>
           <th>呼格</th>
           <td><%= word.wol %></td>
         </tr>
       </table>
       <table class="tables" border="1" width=auto>
         <tr>
           <th>主格・呼格</th>
           <td><%= word.mia_wol %></td>
         </tr>
         <tr>
           <th>生格</th>
           <td><%= word.dop_pl %></td>
         </tr>
         <tr>
           <th>与格</th>
           <td><%= word.cel_pl %></td>
         </tr>
         <tr>
           <th>対格</th>
           <td><%= word.bie_pl %></td>
         </tr>
         <tr>
           <th>造格</th>
           <td><%= word.narz_pl %></td>
         </tr>
         <tr>
           <th>前置格</th>
           <td><%= word.mie_pl %></td>
         </tr>
       </table>
     <% }) %>
    </div>
  </div>
</body>
</html>
