<!DOCTYPE html>
<html lang="ja">

<head>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="mainlogo">
    <h1>名詞辞書</h1>
  </div>
  <div class="search-bar">
    <form action="/table" method="post" id="form">
      <input type="text" name="wordItem" id='searchvar'>
    </form>
  </div>
  <script>
      $('#searchvar').keyup(function() {
    isChange = true;
        alert();

        $.ajax({
            url: '/search',
            type:'POST',
            dataType: 'json',
            data : {parameter1 : $('#searchvar').val() },
            timeout:3000,
        }).done(function(data) {
                          alert("ok");
        }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
                         alert("error");
        });
      });
    </script>
    <ul id="candidate">
      <p><span></span></p>
    </ul>
  <div class="search-contents">
    <div class="word-info">
      <% rsWordlist.forEach(function (item) { %>
      <table border="1" width=auto>
        <tr>
          　　 <th>見出し語</th>
          <td><%= item.headword %></td>
          　　
        </tr>
        　　 <tr>
          　　 <th>日本語訳</th>
          　　 <td><%= item.japanese %></td>
          　　 </tr>
        　　 <tr>
          　　 <th>名詞性</th>
          　　 <td><%= item.gender %></td>
          　　 </tr>
        　　
      </table>
      <% }) %>
      <% if (rsWordlist.length < 1) { %>
      <table border="1" width=auto>
        <tr>
          　　 <th>見出し語</th>
          　　 <td></td>
          　　 </tr>
        　　 <tr>
          　　 <th>日本語訳</th>
          　　 <td></td>
          　　 </tr>
        　 　<tr>
          　　 <th>名詞性</th>
          　 　 <td></td>
          　　 </tr>
      </table>
      <% } %>
    </div>
    <div class="word-table">
      <% rsWordlist.forEach(function (word) { %>
       <table class="tables" border="1">
         <tr>
           <th>主格</th>
           <td><%= word.mia %></td>
         </tr>
         <tr>
           <th>生格</th>
           <td><%= word.dop %></td>
         </tr>
         <tr>
           <th>与格</th>
           <td><%= word.cel %></td>
         </tr>
         <tr>
           <th>対格</th>
           <td><%= word.bie %></td>
         </tr>
         <tr>
           <th>造格</th>
           <td><%= word.narz %></td>
         </tr>
         <tr>
           <th>前置格</th>
           <td><%= word.mie %></td>
         </tr>
         <tr>
           <th>呼格</th>
           <td><%= word.wol %></td>
         </tr>
       </table>
       <table class="tables" border="1" width=auto>
         <tr>
           <th>主格・呼格</th>
           <td><%= word.mia_wol %></td>
         </tr>
         <tr>
           <th>生格</th>
           <td><%= word.dop_pl %></td>
         </tr>
         <tr>
           <th>与格</th>
           <td><%= word.cel_pl %></td>
         </tr>
         <tr>
           <th>対格</th>
           <td><%= word.bie_pl %></td>
         </tr>
         <tr>
           <th>造格</th>
           <td><%= word.narz_pl %></td>
         </tr>
         <tr>
           <th>前置格</th>
           <td><%= word.mie_pl %></td>
         </tr>
       </table>
     <% }) %>
     <% if (rsWordlist.length < 1) { %>
        <table class="tables" border="1">
          <tr>
            <th>主格</th>
            <td></td>
          </tr>
          <tr>
            <th>生格</th>
            <td></td>
          </tr>
          <tr>
            <th>与格</th>
            <td></td>
          </tr>
          <tr>
            <th>対格</th>
            <td></td>
          </tr>
          <tr>
            <th>造格</th>
            <td></td>
          </tr>
          <tr>
            <th>前置格</th>
            <td></td>
          </tr>
          <tr>
            <th>呼格</th>
            <td></td>
          </tr>
        </table>
        <table class="tables" border="1" width=auto>
          <tr>
            <th>主格・呼格</th>
            <td></td>
          </tr>
          <tr>
            <th>生格</th>
            <td></td>
          </tr>
          <tr>
            <th>与格</th>
            <td></td>
          </tr>
          <tr>
            <th>対格</th>
            <td></td>
          </tr>
          <tr>
            <th>造格</th>
            <td></td>
          </tr>
          <tr>
            <th>前置格</th>
            <td></td>
          </tr>
        </table>
      <% } %>
    </div>
  </div>
</body>

</html>
